[submodule "cc-spring"]
	path = cc-spring
	url = https://github.com/VitaliyOliynyk/cc-spring.git
[submodule "cc"]
	path = cc
	url = https://github.com/VitaliyOliynyk/cc.git
[submodule "spring-xml-authoring"]
	path = spring-xml-authoring
	url = https://github.com/VitaliyOliynyk/spring-xml-authoring.git
